/* main {
    font-family: 'Delius Unicase';
}


nav {
    background-color:#6F6AF7;;
    color: white;
    position: absolute;
    width: 1850px;
    height: 60px;
    left: 0px;
    top: 0px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

nav li {
    margin-right: 80px;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36.43px;
    line-height: 47px;
    color: #FFFFFF;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px; 
}

.search {
    position: absolute;
    width: 314px;
    height: 57px;
    top: 36px;
    left: 1171px;
    border-radius: 63px;
    display: flex;
}

.search input {
    width: 100%;
    padding: 8px;
    border-radius: 63px;
    border: 1px solid #333;
    outline: none;
    box-sizing: border-box;
}

.search::after {
    content: "\1F50D"; 
    font-size: 20px;
    color: #333;
    padding: 8px;
    background-color: #333;
    border-radius: 0 63px 63px 0;
    cursor: pointer;
}

#section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section1 img {
    margin-top: 200px;
    margin-left: 50px;
    width: 450px;
    height: auto;
    top: 289px;
    left: 129px;
    border-radius: 20px;
    
}

.rec {
    flex:1;
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 120px;
    height: 440px;
    border-radius: 20px;
    border: 6px;
    background-color: #E5D8FF;
}

.box {
    color:#6F7373;
    margin-left: 20px;
    font-family: DM Sans;
    font-size: 29px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;

}

#section2 {
    display: flex;
    justify-content: space-between; 
    margin: 20px;
}
.rectangle {
    flex: 1; 
    text-align: center;
    border-radius: 10px;
    width: 80px; 
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue {
    background:#929DFF;
    color: #ffffff; 
    font-family: DM Sans;
    text-align: left;
    font-size: 19px;
    font-weight: 70;
    line-height: 5px;
    letter-spacing: 0.06em;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 10px;
}

.blue1 {
    background: #734CF2;
    color: #ffffff; 
    margin-right: 20px;
    font-family: DM Sans;
    text-align: left;
    font-size: 19px;
    font-weight: 70;
    line-height: 5px;
    letter-spacing: 0.06em;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 10px;
    width: 50px;
}

.purple {
    background: #D288FF;
    color: #ffffff;
    margin-right: 20px;
    font-family: DM Sans;
    text-align: left;
    font-size: 19px;
    font-weight: 70;
    line-height: 5px;
    letter-spacing: 0.06em;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 10px;
    width: 50px;
}

.black {
    background: #000000;
    color: #ffffff; 
    margin-right: 20px;
    font-family: DM Sans;
    text-align: left;
    font-size: 19px;
    font-weight: 70;
    line-height: 5px;
    letter-spacing: 0.06em;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 10px;
    width: 50px;
}

.rectangle1{
    width: 1800px;
    height: 500px;
    border-radius: 21px;
    margin-left: 50px;
    margin-top:20px;
}
.blue3{
    background: #483EFF;
}


.rectangle2 {
    flex: 1; 
    text-align: center;
    border-radius: 10px;
    width: 80px; 
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1{
    width: 397px;
    height: 140px;
    border-radius: 20px;
    background: #BCE0F6;
    margin-top: 400px;
    margin-left: 30px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 50;
    line-height: 5px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 20px;

}

.box2{
    width: 397px;
    height: 140px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 5px;
    background: #483EFF;
    margin-top: 20px;
    margin-left: 30px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 50;
    line-height: 5px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 20px;
}

.box3{
    width: 397px;
    height: 140px;
    border-radius: 20px;
    background: #483EFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 5px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 50;
    line-height: 5px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 20px;
}


.rectangle3 {
    flex: 1; 
    text-align: center;
    border-radius: 10px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box4{
    width: 1150px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-left: 600px;
    text-align: left;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 50;
    line-height: 5px;
    letter-spacing: 0.10em;
    text-align: left;
    color: #04285A;
}

.box5{
    border-radius: 9px;
    background-color: #000000;
    color: #fff;
    margin-left: 1000px;
    margin-right: 20px;
    margin-bottom: 20px;
    width:100px;
    height: 50px;

} */




@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Inter:wght@700&family=Roboto:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans;
}
.main {
    font-family: "Delius Unicase";
    width:90%;
    margin:auto;
}
.social-icons{
    position: sticky;
    top:10px;
    margin-top:100px;
    float:right;
}
nav {
    background-color: #6F6AF7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}
nav ul {
    background-color: #6F6AF7;
    list-style: none;
    display: flex;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
nav li {
    align-items: center;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 36.43px;
    line-height: 47px;
    color: #FFFFFF;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.search {
    position: relative;
    height: 64px;

}
.search input {
    width: 100%;
    padding: 8px 32px 8px 16px;
    border-radius: 63px;
    border: 1px solid #333;
    outline: none;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;
}

#section1 {
    display: flex;
    height: 50vh;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-top:80px;
}
#section1 img {
    width: 450px;
    height: 100%;
    border-radius: 10px;
}
.rec {
    flex: 1;
    height: 100%;
    background-color: #E5D8FF;
    padding:16px;
}

.box {
    color: #6F7373;
    font-family: DM Sans;
    font-size: 29px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
}
#section2 {
    display: flex;
    justify-content: space-between;
    margin: 64px 0;
    gap: 20px;
}
.rectangle {
    flex: 1;
    text-align: left;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    padding: 16px;
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blue {
    background: #929DFF;
    color: #FFFFFF;
}
.blue1 {
    background: #734CF2;
    color: #FFFFFF;
}
.purple {
    background: #D288FF;
    color: #FFFFFF;
}
.black {
    background: #000000;
    color: #FFFFFF;
}

#section3 {
    background: #483EFF;
    display: flex;
    border-radius: 10px;
}
.rectangle2 {
    text-align: center;
    border-radius: 10px;
    width: 450px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
}
.rectangle2 button {
    width: 80%;
    margin: auto;
    height: 80px;
    border:1px solid white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    background-color: transparent;
    color: white;
}

#section3 .rectangle2 .box1 {
    background: #BCE0F6;
    font-weight: 700;
    color:#000000

}
.rectangle3 {
    background-color: white;
    flex: 1;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    height:400px;
    flex-direction: column;
}
.rectangle3 .heading {
    font-weight: 700;
}
.rectangle3 p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 10.5%;
    margin-left: 32px;
    margin-bottom: 10px;
}

.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: black;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 5%;
    line-height: 32px;
    font-family: Roboto;
    width:120px;
    color:white;
    position: absolute;
    right:16px;
    bottom:16px;
    padding:16px;
    border-radius:10px;
}
.bot{
    position: fixed;
    right: 32px;
    bottom:16px;
    width: 80px;
    height: 80px;
}